
.md-typeset p {
  font-size: 15px; /*230316*/
  line-height: 1.2rem; /*230316*/
}

.md-typeset .admonition p,
.md-typeset details {
  font-family: Roboto;
  font-size: 15px; /*230316*/
  border-width: 0;
  border-left-width: 4px;
}

.md-typeset pre {
  background-color: #6ba0c979;
}

.md-typeset p code,
p pre {
 
    background-color: #c9dff379;/* #fbe9e7; */ 
    border: 0;
    margin: 0 2px;
    padding: 0 5px;
    /* font-size: 15px; */
}

.md-typeset code, li code, pre, li pre {
  font-size: 14px; 
}

.md-typeset table code,
table pre {
  background-color: #c9dff379/* #fbe9e7 */; 
}

.md-typeset img { /*230316*/
  max-width: 100%;
  /* width: 50%; */
  height: auto;
  display: block;

  /* padding-top: 10px; */
  margin-bottom: 0;
  /* padding-top: 5px; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: -1;

  border: 0;
  -ms-interpolation-mode: bicubic;
  image-rendering: optimizeQuality;

}

.md-typeset figure {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0;
  font-size: 14px;
}

.md-typeset figcaption {
  padding-top: 0px;
  padding-bottom: 10px;
  /* margin-bottom: 20px; */
  font-size: 14px;
}

/*230515*/

.md-typeset h1 {
  font-size: 1.8em;
}

.md-typeset h2 {
  font-size: 1.5em;
  margin-top: 2.5em;
  line-height: 1em;  
}

.md-typeset h3 {
  font-size: 1.3em;
  margin-top: 2.5em;
  line-height: 1em;  
}

.md-typeset h4 {
  /* font-size: 1.3rem; */
  margin-top: 2.5em;
  line-height: 1em;  
}

.md-typeset blockquote {
  font-size: 15px; /*230316*/
}

.md-typeset li {
  line-height: 1.5rem; /*230316*/
  font-size: 15px; /*230316*/
}

#__nav_2_label {
  font-size: 20px;
  color: #4051b5;
}

/*
.md-sidebar__inner > nav > ul > li:first-child {
  font-size: 20px;
} sm*/ 

/* .md-nav__list > li:first-child {
  font-size: 25x;
} */


/* #__toc {
  font-size: 30px;
} */

.md-header__button.md-logo img:first-child {
  width: 45x;
  height: 45px;
}

/* .md-nav__link.md-nav__link--active .md-ellipsis {
  font-size: 28x;
} */

.md-nav__link.md-nav__link--active span:first-child {
  font-size: 28x;
}

/* .md-nav__list > li span:first-child {
  font-size: 16px;
} */

/* .md-nav__list > li .md-nav__link.md-nav__link--active span:first-child {
  font-size: 20px;
} */



.md-nav__list > li .md-nav__link.md-nav__link--active .md-ellipsis {
  font-size: 20px;
}

.md-nav__list > li .md-nav__link.md-nav__link--passed.md-nav__link--active .md-ellipsis {
  font-size: 20px;
  color: #4051b5;
}
